/* Estilos principais */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Faz o formulário centralizar verticalmente */
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

/* Estilos para os labels */
label {
    display: block;
    margin: 10px 0 5px 0;
    font-weight: bold;
    color: #1E232C;
}

/* Estilos para os campos de entrada de texto e telefone */
input[type="text"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

/* Estilos para o botão de submissão */
input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #1E232C;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito de hover no botão de submissão */
input[type="submit"]:hover {
    background-color: #333;
}